#### Theory

Lists are used to store multiple items in a single variable 
Lists are created using square brackets

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created
Since lists are indexed, lists can have items with the same value

In [2]:
li = ['Himanshu',10,"CSE",9.2,"Himanshu",True]
print(li)

['Himanshu', 10, 'CSE', 9.2, 'Himanshu', True]

In [3]:
print(type(li))

<class 'list'>

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered(new py) and changeable. No duplicate members.

In [4]:
#Tuple
tp = ("HRS", 9.2, "WORKSHOP","HRS")
print(tp)
print(tp[2])

('HRS', 9.2, 'WORKSHOP', 'HRS')
WORKSHOP

In [11]:
li = list(tp)
li[0] = "Himanshu"
tp = tuple(li)
print(tp)

('Himanshu', 9.2, 'WORKSHOP', 'HRS')

## tp = ("hrs", "what", 10.0)
y = list(tp)
y[1] = "Nothing"
tp = tuple(y)
print(tp)

#Convert it To lIST and do change

In [12]:
tp1 = ("ONE","TWO")
tp2 = ("THREE","FOUR")
tp1 += tp2
print(tp1)

('ONE', 'TWO', 'THREE', 'FOUR')

In [24]:
fruits = ("apple", "banana", "cherry","fruits")

(green, *yellow, al,al2) = fruits

In [21]:
green

'apple'

In [22]:
yellow

['banana', 'cherry']

In [23]:
al

'fruits'

In [ ]:
#WHAT NOTHING

In [ ]:
#If the number of variables is less than the number of values, you can add an * to the variable name and the 
#values will be assigned to the variable as a list:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

In [ ]:
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

In [ ]:
fruits = (1, 2, "3")
mytuple = fruits * 2

print(mytuple)
print(mytuple.count("3"))
print(mytuple.index(2))

### Sets

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered means that the items in a set do not have a defined order.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Once a set is created, you cannot change its items, but you can remove items and add new items.

In [25]:
st = {"a", "b", "c", "a"}

print(st)

{'c', 'b', 'a'}

In [26]:
print(len(st))
print(st[0])

3

TypeError: 'set' object is not subscriptable

In [ ]:
st.add('d')
st.add(5)
print(st)
st

In [27]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
#[]
thisset.update(tropical)

print(thisset)

{'cherry', 'mango', 'papaya', 'pineapple', 'banana', 'apple'}

In [29]:
thisset.remove('apple')
thisset

KeyError: 'apple'

In [30]:
thisset.discard('apple')

In [ ]:
thisset.pop()

In [31]:
#Update Vs Union
s1 = {'1','2',3}
s2 = {1,2,3}
print(s1.union(s2))
print(s1,s2)
s1.update(s2)
print(s1)

{1, 2, 3, '1', '2'}
{'1', '2', 3} {1, 2, 3}
{1, 2, 3, '1', '2'}

In [33]:
print(s2)

{1, 2, 3}

In [32]:
s1.intersection(s2)

{1, 2, 3}

In [34]:
s1.symmetric_difference(s2)

{'1', '2'}

### LIST

In [35]:
li = [1,2,3,4,5]

In [36]:
print(li[len(li)-1])
print(li[-1])
print(li[4])

5
5
5

In [ ]:
#WHY index starts with 0 ?

#Array VS List
An array is a group of data elements stored at contiguous memory locations. 
The concept is to keep items of the same data type together

In [ ]:
import array as arr
a = arr.array('i',[1,2,3,4])

In [37]:
li = [1,2,3,6,2,3]
for i in li:
    print(i)

1
2
3
6
2
3

In [38]:
#Mean OR Average
print(sum(li)/len(li))

2.8333333333333335

In [ ]:
#Seprate Odd and Even

In [ ]:
#max and min

In [1]:
#Slicing
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [4]:
li[:]

[1, 2, 3, 4, 5]

In [5]:
for i in li:
    if(i == 4):
        break
    elif(i == 2):
        continue
    print(i)

1
3

In [ ]:
#List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
l2 = [2*x for x in li]
print(l2)
l3 = [x for x in li if x%2 == 0]
print(l3)

In [ ]:
#Second largest

In [ ]:
#Check the list is sorted or not

In [12]:
#Reverse a list
li = [1,2,3,4,5,6,7]

In [13]:
for i in range(len(li)//2):
    li[i],li[len(li) -1-i] = li[len(li) -1-i],li[i]
print(li)

[7, 6, 5, 4, 3, 2, 1]

In [14]:
#Rotate a list by d value
d = 2
print(li[d:] + li[:d])

[5, 4, 3, 2, 1, 7, 6]

In [ ]:
#Immediate Grater than X

In [ ]:
#Who has the majority

In [15]:
li = [1,2,3,4,5]
li.append(6)
li.insert(2,100)
print(li)
li[3] = "WHAT"
print(li)

[1, 2, 100, 3, 4, 5, 6]
[1, 2, 100, 'WHAT', 4, 5, 6]

In [16]:
li.pop()

6

In [17]:
li

[1, 2, 100, 'WHAT', 4, 5]

In [18]:
li.pop(2)

100

In [19]:
li

[1, 2, 'WHAT', 4, 5]

In [ ]:
li[2] = 100

In [ ]:
li

In [20]:
li.remove("WHAT")
li

[1, 2, 4, 5]

In [21]:
li = [1,2,43,45,22,0]

In [22]:
max(li)

45

In [23]:
min(li)

0

In [24]:
li = []
for i in range(10):
    l = []
    for j in range(i + 1):
        l.append(j)
    li.append(l)

In [25]:
li

[[0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [28]:
li[9][9]

9

In [29]:
for x in li:
    print(x)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]